.Home #first-links {
  margin-top: -50px;
}
.Home #heading {
  margin-bottom: 60px;
}
.Home #first-links > p {
  display: inline-block;
  padding-right: 10px;
}
.Home #first-links > p > a {
  text-decoration: none;
}
.Home #first-links > p {
  margin: 0;
}
.Home .projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.Home .publication p {
  margin: 0;
}
@media only screen and (max-width: 422px) {
  .Home #logo {
    display: none;
  }
}
@media only screen and (max-width: 354px) {
  .Home #heading {
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .Home #first-links {
    margin-top: -37px;
  }
}
