.BlogPostPage img {
  max-width: 90%;
  width: 720px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.BlogPostPage img {
  display: block;
}
.BlogPostPage .caption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}
.BlogPostPage blockquote {
  border-left: 4px solid #dfe2e5;
  padding: 0 15px;
  color: #777777;
}
.BlogPostPage blockquote blockquote {
  padding-right: 0;
}
.BlogPostPage strong {
  font-weight: 700;
}
.BlogPostPage .anchor {
  top: -145px;
}
/* For all <code> */
code {
  font-family: MyFancyCustomFont, monospace;
  font-size: inherit;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: rgb(246, 248, 250);
  color: #24292f;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}
.BlogPostPage pre code {
  padding: 16px;
  border-radius: 0.5rem;
  display: block;
  color: #24292f;
  background: rgb(246, 248, 250);
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  font-size: 85%;
}