.edu-block {
  -webkit-box-shadow: 0 4px 12px var(--bx1);
  box-shadow: 0 4px 12px var(--bx1);
  padding:35px 20px 20px 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.edu-block p {
  margin-bottom: 0px;
}
.edu-block ul {
  margin-top:0px;
}
.edu-block img {
  width:300px;
}