body{
}
.container {
}
.mainContent{

}
.title{
  display:block;
  width:100%;
  text-align: left;
  padding-bottom:10px;
  border-bottom: 2px solid whitesmoke;
}
.text_block{
  padding-top:20px;
  padding-bottom:20px;
}
.text_block, .text_block h3 , .text_block h4{
  font-weight: 300;
  line-height: 40px;
  
  text-align: left;
  margin:0 0 0 0;
  font-size:20px;
  display: inline;
}
/*Highlighted texts*/
.mainContent div h4{
  display:inline;
  text-align: left;
  line-height: 40px;
  padding:0;
  color:orange;
  font-weight:400;
}
.mainContent{
  padding:20px;
  position: relative;
}
.text_block a{
  font-weight:400;
}