body{
  background-image:url('../images/PolyBackground.jpg');
}
h2{
  font-size:35px;
  text-align: right;
  width:175px;
}
h3{
  font-weight: 300;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  text-align: left;
  margin:0 0 0 0;
  font-size:25px;
}
.mainContent{
  padding:20px;
  position: relative;
}
.line{
  background-color:RGB(40,40,40);
  height:5px;
  width: 100%;
  margin-top:0.5px;

}
.lineSide{
  border-left:5px RGB(40,40,40) solid;
  height:48.5px;
  margin-top:-54px;
  margin-left:190px;
}