/* CSS for headers and footers*/
html{
  height:100%;
}
body{
  position: relative;
  box-sizing: border-box;
  font-weight: 300;
  background-color:white;
  color:#212529;
  height:100%;
  margin:0;
  padding:0;
}
a {
  color:#0366d6;
}
a:hover {
}
.container-fluid{
  text-align: center; 
  padding-top:50px;
  width:80%;
  margin-left:20%;
  position: relative;
  
}
.header{
  z-index:1000;
  width: 100%;
  position: absolute;
  transition: transform 0.4s;
  border-bottom: 2px solid #212529;
}
#sidebar_button{
  display:inline;
}
.header {
  background-color:white;
  height:50px;
  
}
.header i{
  font-size:30px;
  margin-left:20px;
  margin-top:20px;
  cursor:pointer;
  display:none;
}
.header_title{
  font-weight: 200;
  font-size:30px;
  width: 100px;
  margin-left:3px;
  display:inline;
  text-align: center;
}
.sidebar{
  display: none;
  height:100%;
  
  background-color:#f8f9fa;
  position: fixed;
  width:100%;
  z-index:1000;
  transform: translate(-100%,0px);
  transition: transform 0.4s;
}
.sidebar .header_link{
  font-size:25px;
  height:100px;
  line-height: 100px;
  padding-left:20px;
  cursor:pointer;
  width:100%;
  display:block;
  transition: background-color 0.4s;
  color:RGB(50,50,50);
}
.sidebar .header_link:hover{
  background-color:white;
  text-decoration: none;
  
}
.normal_sidebar {
  display:inline;
  position: fixed;
  z-index:1;
  height:100%;
  border-right: 2px solid #212529;
  width:160px;
  padding-top: 75px;
}
.normal_sidebar li{
  text-decoration: none;
  list-style-type:none;
  margin-left:-40px;
  font-size:26px;
  background-color:white;
  z-index:1;
}
.normal_sidebar ion-icon {
  font-size:30px;
  vertical-align: middle;
  cursor:pointer;
  transition: transform 0.2s;
}
.sidebar_label {
  margin-left:21px;
}
.drop_down_folder {
  border-left: 2px solid black;
  margin-left:14px;
  padding-left:15px;
  transform: translate(-200px,0px);
  transition: transform 0.2s;
  z-index:0;
  
}
.sub_dir_link {
  font-size:16px;

}
.sub_dir_link::before{
  content:' '
}
.contact_info {
  position: absolute;
  bottom:20px;
  font-size:12px;
}
.contact_info_wrapper {
  font-size:14px;
  margin-left:10px;
}
.contact_info_wrapper a {
  font-size:20px;
  vertical-align: middle;
  color: RGB(52,58,64);
}
.contact_info_wrapper a:hover {
  color: RGB(26,29,32);
}
#header_image {
  margin-top: -10px;
  width:32px;
  margin-left: 10px;
}
@media only screen and (min-width: 600px) {
  .container-fluid {
    width:calc(100% - 160px);
    position: absolute;
    left:calc(-20% + 160px);
  }
}

@media only screen and (max-width: 600px) {
  .container-fluid {
    width:100%;
    left:0px;
    margin:0px;
    padding-top:40px;
  }
  .header {
    margin-left:0px;
    height:40px;
    position: fixed;
  }
  .header i {
    display:inline;
    font-size:22px;
    margin-left:10px;
  }
  .sidebar {
    display:inline;
  }
  .normal_sidebar {
    display:none;
  }
  .header_title {
    font-size:22px;
    line-height: 40px;
  }
  #header_image {
    width:25px;
    margin-top:-5px;
    margin-left:5px;
  }
}
@media only screen and (max-width: 370px) {
  .header {
    height:35px;
  }
  .container-fluid {
    padding-top:35px;
  }
  .header i {
    font-size:16px;
    margin-left:8px;
  }
  .header_title {
    font-size:14px;
    line-height: 35px;
  }
  #header_image {
    width:20px;
    margin-top:-2px;
    margin-left:2px;
  }
}
/*Maxheight value subject to change depending on how many side bar links*/
@media only screen and (max-height:440px){
  
}
