/* CSS for headers and footers*/
html{
  height:100%;
}
body{
  position: relative;
  box-sizing: border-box;
  font-weight: 300;
  background-color:white;
  color:#212529;
  height:100%;
  margin:0;
  padding:0;
}
a {
  color:#0366d6;
}
a:hover {
}
.container-fluid{
  text-align: center; 
  padding-top:100px;
  width:80%;
  margin-left:20%;
  position: relative;
  
}
.header{
  z-index:1000;
  width: 100%;
  position: absolute;
  transition: transform 0.4s;
  border-bottom: 2px solid #212529;
}
#sidebar_button{
  display:inline;
}
.header {
  background-color:white;
}
.header i{
  font-size:30px;
  margin-left:20px;
  margin-top:20px;
  cursor:pointer;
  display:none;
}
.header_title{
  font-weight: 300;
  font-size:30px;
  width: 100px;
  margin-left:3px;
  display:inline;
  text-align: center;
}
.sidebar{
  display: none;
  height:100%;
  
  background-color:#f8f9fa;
  position: absolute;
  width:200px;
  z-index:1000;
  transform: translate(-200px,-80px);
  transition: transform 0.4s;
}
.sidebar .header_link{
  font-size:25px;
  height:100px;
  line-height: 100px;
  padding-left:20px;
  cursor:pointer;
  width:200px;
  display:block;
  transition: background-color 0.4s;
  color:RGB(50,50,50);
}
.sidebar .header_link:hover{
  background-color:white;
  text-decoration: none;
  
}
.footer{
  position: absolute;
  width:100%;
  height:50px;
  bottom: 0;
  margin:none;
  text-align: center;
  background-color:#343a40;
  color:white;
  z-index:2000;
}
.footer a{
  color: white;
  font-size:25px;
  margin-left: 5px;
}
.footer h6{
  display: inline-block;
  line-height: 50px;
  margin-bottom: 0px;
  margin-top:0px;
  font-size: 20px;
  font-weight: 300;
  transform: translate(0,-3px);
}
.footer a:hover{
  border-radius: 50%;
  color: #f0efef;
}
.normal_sidebar {
  display:inline;
  position: fixed;
  z-index:1;
  height:100%;
  border-right: 2px solid #212529;
  width:160px;
  padding-top: 75px;
}
.normal_sidebar li{
  text-decoration: none;
  list-style-type:none;
  margin-left:-40px;
  font-size:26px;
  background-color:white;
  z-index:1;
}
.normal_sidebar ion-icon {
  font-size:30px;
  vertical-align: middle;
  cursor:pointer;
  transition: transform 0.2s;
}
.sidebar_label {
  margin-left:21px;
}
.drop_down_folder {
  border-left: 2px solid black;
  margin-left:14px;
  padding-left:15px;
  transform: translate(-200px,0px);
  transition: transform 0.2s;
  z-index:0;
  
}
.sub_dir_link {
  font-size:16px;

}
.sub_dir_link::before{
  content:' '
}
@media only screen and (min-width: 600px) {
  .container-fluid {
    width:calc(100% - 160px);
    position: absolute;
    left:calc(-20% + 160px);
  }
}

@media only screen and (max-width: 600px) {
  .container-fluid {
    width:100%;
    left:0px;
    margin:0px;
  }
  .header {
    margin-left:0px;
  }
  .header i {
    display:inline;
    font-size:22px;
  }
  .sidebar {
    display:inline;
  }
  .normal_sidebar {
    display:none;
  }
  .header_title {
    font-size:22px;
  }
}
