.content img {
  max-width: 90%;
  width: 600px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.content img {
  display: block;
}
.content pre {
  max-width: 90%;
  width: 600px;
}
blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}
blockquote blockquote {
    padding-right: 0;
}