.wave-symbol {
  border-radius: 50%;
}
.post {
  margin-bottom: 40px;
}
.thumb-wrapper {
  display: inline-block;
  vertical-align: top;
}
.caption {
  display: inline-block;
  width: calc(100% - 30% - 30px);
  margin-left: 20px;
  font-size: 0.9em;
}
.post > .title {
  margin-bottom: 10px;
}
.post > .title > h2 {
  display: inline;
  margin-right: 20px;
}
.post > .title > date {
  display: inline;
  font-size: 1em;
}
.thumb-wrapper {
  width: 30%;
}
.thumb { 
  width: 100%;
}
@media only screen and (max-width:750px) {
  .thumb-wrapper {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .caption {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
}
@media only screen and (max-width:480px) {
  .post > .title > date {
    display: block;
  }
  .thumb-wrapper {
    width: calc(100%);
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
}