#mainText{
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  font-size:40px;
  font-weight:300;
  width:80%;
  margin-left:10%;
  text-align: left;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
#mainText p{
    font-size:14px;
}
.container-fluid{
  height:100%;
}

@media only screen and (max-height: 600px) {
  #mainText p {
    display:none;
  }
}
@media only screen and (max-width: 960px) {
  #mainText {
    font-size:25px;
  }
  #mainText p{
    font-size:12px;
  }
}
@media only screen and (max-width: 510px) {
  #mainText {
    font-size:25px;
  }
  #mainText p{
    font-size:11px;
  }
}