.project img {
  width: 320px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 2px 8px var(--bx1);
  box-shadow: 0px 2px 8px var(--bx1);
  padding: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.project {
  width: 330px;
  -webkit-box-shadow: 0px 4px 18px var(--bx1);
  box-shadow: 0px 4px 18px var(--bx1);
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project time {
  margin-top: 0;
}

.project h3 {
  margin-bottom: 0px;
  margin-top: 10px;
}

.project p {
  font-size: 0.9em;
}

a.project::before {
  content: "";
  left: 0;
  width: 0%;
  height: 1px;
  bottom: -webkit-calc(1em + 2px);
  bottom: calc(1em + 2px);
  top: auto;
  position: absolute;
  z-index: 2;
  -webkit-transition: width 0.25s;
  -o-transition: width 0.25s;
  transition: width 0.25s;
  background-color: var(--b2);
}

a.project:hover::before {
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  position: absolute;
  z-index: 2;
  -webkit-transition: width 0.25s;
  -o-transition: width 0.25s;
  transition: width 0.25s;
  background-color: var(--b2);
}

a.project::after {
  content: "";
  left: 0;
  background-color: var(--b2);
  width: 100%;
  height: 1px;
  bottom: -webkit-calc(1em + 2px);
  bottom: calc(1em + 2px);
  position: absolute;
  z-index: 2;
  -webkit-transition: width 0.25s;
  -o-transition: width 0.25s;
  transition: width 0.25s;
  background-color: rgba(0, 0, 0, 0.15);
}

.workmodule {
  font-size: 0.9em;
}

.workmodule p,
.workmodule ul,
#awards p,
#awards ul {
  margin-bottom: 5px;
  margin-top: 5px;
}

.workmodule .work-meta h3,
#awards h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.workmodule time {
  display: block;
}

.workmodule .logo {
  height: 55px;
  margin-right: 20px;
}

.work-meta {
  display: inline-block;
}

.work-role {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding-bottom: 10px;
  font-weight: 500;
}

.work-details {
  font-size: 0.8em;
}

.work-detail-title {
  font-size: 1.2em;
  font-weight: 500;
}

#awards {
  font-size: 0.8em;
}

.award-title {
  font-size: 1.5em;
  font-weight: 500;
}

.sidebarsWrapper {
  height: 100%;
  right: 0;
  position: fixed;
  width: 200px;
}

.sidebars {
  position: fixed;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.sidebars .barWrapper {
  display: block;
  text-align: right;
  cursor: pointer;
}

.sidebars .barWrapper span {
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  transform: translate(0, -15px);
  margin-right: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.45s, color 0.3s;
  -o-transition: opacity 0.45s, color 0.3s;
  transition: opacity 0.45s, color 0.3s;
  color:rgba(62, 75, 115, 0.45);
}

.sidebars .bar {
  height: 35px;
  width: 5px;
  margin-right:25px;
  background-color: rgba(62, 75, 115, 0.15);
  -webkit-transition: background-color 0.3s, margin-right 0.3s;
  -o-transition: background-color 0.3s, margin-right 0.3s;
  transition: background-color 0.3s, margin-right 0.3s;
  margin-bottom: 5px;
  display: inline-block;
  
}

.sidebars .barWrapper:hover .bar {
  background-color: rgba(62, 75, 115, 0.85);
  margin-right:30px;
}
.sidebars .barWrapper:hover span {
  color:var(--sg1);
}

.sidebars .barWrapper.inview .bar {
  background-color: rgba(62, 75, 115, 0.85);
}
.sidebars .barWrapper.inview span {
  color:var(--sg1);
}
.anchor {
  display: block;
  position: relative;
  z-index: -1;
  top: -55px;
}