body {
  background: RGB(240,240,240);
  
}
.container{
  padding:0px;
  margin:0px;
  height: 400px;
  margin:0px;
  width: 100%;
  text-align:center;
}
.col-sm-4{
  height:20px;
  border: solid green 3px;
}
.indexbody{
  position:absolute;
  margin-top:300px;
  margin-left:10%;
  width:80%;
  z-index: 0;
  
}
.indexbody h1{
  text-align: center;
  width:100%;
}
