body {
  /*background-image:url('../images/backdropdots.png');*/
  background-color:white;
  
}
.container {

}
#selection{
  margin-bottom:20px;
}
.indexbody h1{
  text-align: center;
  width:100%;
}
.item{
  width:800px;
  text-align:center;
  margin-left:-400px;
  left:50%;
  position: relative;
  margin-bottom:40px;
  padding:20px;
  border-top: 2px solid RGB(220,220,220);
}

.linkHead{
  font-weight: 300;
  font-size: 35px;
  margin-bottom:10px;
  
}
#checks{
  text-align: left;
  display:inline-block;
  margin-left:10px;
}
#checks label{
  display:inline;
  height:50px;
  width:100px;
}
.item h2{
  text-align:left;
  font-weight:300;
  font-size:10px;
  margin-top:10px;
    
}
.item img{
  margin-top:10px;
  margin-bottom:10px;
}
.item a:hover{

}
.item h2{
  font-size:20px;
 line-height: 30px;
}
.page input{
  margin-right:10px;
}
#filter_head{
  line-height:50px;display: inline;font-size:25px;height:100px;padding-bottom: 55px; vertical-align: middle; font-weight: 400;margin-bottom: 60px;
}
#bracket {
  font-weight: 100;
  font-size:100px;
  display:inline;
}
@media only screen and (max-width: 825px){
  .item{
    width: 80%;
    margin-left:10%;
    left:0;
  }
  .item img{
    width: 100%;
  }


  .linkHead {
    font-size:28px !important;
  }
  .item h2, .item a {
    font-size:16px;
  }
}
@media only screen and (max-width: 392px){
}