body {
  background-image:url('../images/PolyBackground.jpg');
  
}
.container {
  margin-top:100px;
}
.indexbody h1{
  text-align: center;
  width:100%;
}
.item{
  width:800px;
  text-align:left;
  margin-left:-400px;
  left:50%;
  position: relative;
  margin-bottom:50px;
}
.item a{
  font-weight: 300;
  font-size: 45px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  
}
.item img{
  margin-left:-200px;
  transform: translate(50%,0);
}
.linkHead{
  border-bottom:1px solid black;
}
.item a:hover{
  text-decoration: none;
}
.item h2{
  font-size:25px;
 line-height: 45px;
}
.page h1,a{
  font-weight: 400;
}
.page h2{
  margin-top:20px;
  margin-bottom:20px;
  font-weight: 300;
 
}

@media only screen and (max-width: 825px){
  .item img{
    width:75%;
    margin: auto;
    margin-left:-25%;
    
  }
  .item {
    width:80%;
    margin-left: -40%;
  }
  .item a{
    font-size:35px;
  }
  .item h2{
    font-size:18px;
  }
}
@media only screen and (max-width: 625px){
  .item a{
    font-size:25px;
  }
  .item h2{
    font-size:15px;
  }
}