.container {
  margin-top:60px;
}
h1, h2, h3, h4, p, ul, li {
  margin:0px;
  margin-bottom: 5px;
}
h1 {
  font-size:40px;
}
h2 {
  font-size:24.72px;
}
h3 {
  font-size:18.28px;
  font-family: 'TexGyre';
}
h4 {
  font-size:16.44px;
}
strong {
  font-weight:500;
}
p, .content li, .content ul {
  font-size:16px;
}

@media print {
  a {
    color:rgb(10,11,15);
  }
  body {
    color:rgb(10,11,15);
  }
  .content {
    width:100%;
    margin:0;
  }
  p, .content li, .content ul {
    font-size:10px;
  }
  h1 {
    font-size:30px;
  }
  h2 {
    font-size:16px;
  }
  h3 {
    font-size:12px;
  }
  h1, h2, h3, h4, p, ul, li {
    margin-bottom: 0px;
  }
  p, .content li, .content ul {
    line-height: 15px;
  }
  header {
    display:none;
  }
  footer {
    display:none;
  }
  .container {
    margin-top:0;
  }
  .sidebarsWrapper {
    display:none;
  }
}
@media print  
{
  li{
     page-break-inside: avoid;
  }
  .container {
    margin-top:0px;
  }
}
@page {
  margin:1.4cm;
  margin-top:1cm;
}